---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout
  title="devChallenges | Join our newsletter"
  description="A devChallenges.io coding challenge."
>
  <main class="flex min-h-dvh justify-center">
    <section
      class="mt-20 flex max-w-3xl flex-col items-center gap-y-16 px-4"
      aria-labelledby="newsletter-heading"
    >
      <div class="flex flex-col items-center gap-y-5 px-2 sm:gap-y-7">
        <img src="logo.svg" alt="Our Logo" class="mx-auto" width="52" height="52" />
        <h1
          class="text-center text-[2rem] font-semibold text-theme-deep-black sm:text-5xl"
          id="newsletter-heading"
        >
          Join our newsletter
        </h1>
        <p class="text-md text-center font-medium sm:text-xl">
          <span class="block text-theme-charcoal-gray/75"
            >Keep up with our latest collections, exclusive deals, and special offers!</span
          >
          <span class="block text-theme-charcoal-gray/75"
            >We introduce a new collection every week, so stay tuned to snag the hottest items just
            for you.
          </span>
        </p>
      </div>

      <div class="w-95 rounded-2xl bg-theme-pure-white p-6 shadow-theme sm:w-137.5">
        <form aria-label="Newsletter Signup Form">
          <div class="flex flex-col gap-y-3" role="group" aria-labelledby="newsletter-heading">
            <input
              class="text-md placeholder:text-md w-full rounded-xl border border-theme-charcoal-gray/10 bg-theme-mist-gray/20 px-2 py-4 text-center font-medium text-theme-charcoal-gray placeholder:font-medium placeholder:text-theme-charcoal-gray focus:border-theme-royal-blue focus:ring-2 focus:ring-theme-royal-blue focus:outline-none"
              type="email"
              id="email"
              name="email"
              aria-required="true"
              aria-describedby="email-description"
              placeholder="Enter your email address"
              autocomplete="off"
              required
            />
            <button
              type="submit"
              class="text-md mt-4 w-full cursor-pointer rounded-xl bg-theme-royal-blue py-4 font-medium text-theme-pure-white"
              aria-label="Subscribe now"
            >
              Subscribe now
            </button>
            <p class="mt-3 text-sm text-theme-charcoal-gray sm:text-center" id="email-description">
              Your email is 100% confidential and won't send you any spam.
            </p>
          </div>
        </form>
      </div>
    </section>
  </main>
</MainLayout>
